body{
 background:white
   url("images/spp.jpg")no-repeat;
   background-size:cover;
   background-size:100%;
   background-color: grey;
   
}
.work {
  
  font-size:25px;
  line-height:40px;
  }
.blinking{
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #dc3545;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}