body{
 background-color:grey;
   background-size:cover;
   background-size:100%;
   
}
.indexBanner {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.header{
    color: black;
    padding:10px 30px 10px 30px;
    font-size:40px;
    text-decoration: none;
    background-color:aliceblue;
    font-family:"Arial Narrow";
    font-weight:normal;
}


}
.container{
    height:1024px;
}

.tests {
  padding:40px 30px 40px 30px;
  font-size:20px;
  line-height:30px;
  }